[submodule "big-picture"]
	path = big-picture
	url = https://github.com/erik-larsen/big-picture.git
[submodule "hepr"]
	path = hepr
	url = https://github.com/soadzoor/Highly-Efficient-PDF-Renderer.git
[submodule "slug"]
	path = slug
	url = https://github.com/EricLengyel/Slug.git
